{% extends 'login.html' %}
{% block content %}
    <div class="login-page">
        <h2><center>Ticket Management System</center></h2>
      <div class="form">
        <form class="login-form" method="POST" novalidate>
            <h3>Create New Ticket</h3>
          {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.assigned_to.label }}</td>
                    <td>{{ form.assigned_to }}</td>
                </tr>
                <tr>
                    <td>{{ form.start_date.label }}</td>
                    <td>{{ form.start_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.end_date.label }}</td>
                    <td>{{ form.end_date }}</td>
                </tr>
                <tr>
                    <td>{{ form.subject.label }}</td>
                    <td>{{ form.subject }}</td>
                </tr>
                <tr>
                     <td>{{ form.message.label }}</td>
                    <td>{{ form.message }}</td>
                </tr>
                <tr>
                     <td>{{ form.priority.label }}</td>
                    <td>{{ form.priority }}</td>
                </tr>
            </table>
            <input id="submit" class="button" type="submit" value="Create Ticket" />
          <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        </form>
          <div id="container">
            <div class="error">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
          </div>
      </div>
    </div>
{% endblock %}