{% extends 'login.html' %}
{% block content %}
    <div class="login-page">
        <h2><center>Ticket Management System</center></h2>
      <div class="form">
        <form class="login-form">
            <h3>Delete A Ticket</h3>
          {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.ticket_id }}</td>
                </tr>
            </table>
            <input id="submit" class="button" type="submit" value="Delete Ticket" />
        </form>
          <div id="container">
            <div class="error">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
          </div>
      </div>
    </div>
{% endblock %}