{% extends 'base1.html' %}
{% load static %}
{% load has_group %}

{% block links %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="{% static 'channels/js/websocketbridge.js' %}" type="text/javascript"></script>
        <a href="{% static '../home/' %}">home  |</a>
      {% if request.user|has_group:"super_admin" %}
         <div class="dropdown">
            <button class="dropdown-button">Ticket operations</button>
            <div class="dropdown-list">
                <a href="{% static '../addticket/' %}">Add Ticket</a>
                <a href="{% static '../listticket/' %}">Delete Ticket</a>
                <a href="{% static '../listticket/' %}">List Tickets</a>
                 <a href="{% static '../listticket/' %}">Update a Ticket</a>
            </div>
         </div>
        <div class="dropdown">
            <button class="dropdown-button">User Operations</button>
            <div class="dropdown-list">
                <a href="{% static '../register/' %}">create User</a>
                <a href="{% static '../listuser/' %}">Delete User</a>
                <a href="{% static '../listuser/' %}">List Users</a>
                 <a href="{% static '../listuser/' %}">Update User details</a>
            </div>
        </div>
        super_admin   |
      {% elif request.user|has_group:"senior_system_admin"%}
        senior_system_admin    |
        <div class="dropdown">
            <button class="dropdown-button">Ticket operations</button>
            <div class="dropdown-list">
                <a href="{% static '../addticket/' %}">Add Ticket</a>
                <a href="{% static '../listticket/' %}">List Tickets</a>
                 <a href="{% static '../listticket/' %}">Update a Ticket</a>
            </div>
         </div>
      {% elif request.user|has_group:"system_admin"%}
        system_admin    |
        <div class="dropdown">
            <button class="dropdown-button">Ticket operations</button>
            <div class="dropdown-list">
                <a href="{% static '../view_ticket_system_admin/' %}">View Ticket</a>
            </div>
         </div>
      {% else %}
        No designation specified    |
      {% endif %}
    <a href="{% static '../logout/' %}">logout</a>   |

{% endblock %}

{% block content %}
    <ul id="notifylist">
		<li id="not">
		</li>
    </ul>
    <ul id="notifyticket">
		<li id="notticket">
		</li>
    </ul>
    {% if request.user|has_group:"super_admin" or request.user|has_group:"senior_system_admin"%}
    <ul id="reviewticket">
		<li id="review">
		</li>
    </ul>
    {% endif %}
     <script>
		document.addEventListener('DOMContentLoaded', function() {
		  const webSocketBridge = new channels.WebSocketBridge();
		  const nl = document.querySelector("#notifylist");
		  const ticket = document.querySelector("#notifyticket");
		  const review = document.querySelector("#reviewticket");

		  webSocketBridge.connect('/notifications/');
		  webSocketBridge.listen(function(action, stream) {
			console.log("RESPONSE:", action);
			if(action.event == "New User") {
			  var el = document.getElementById("not");
			  el.innerHTML += `New user <b>${action.username}</b> has created!`;
			  nl.appendChild(el);
			}
			if(action.event == "Delete User") {
			  var el = document.getElementById("not");
			  el.innerHTML += `Existing user <b>${action.username}</b> has deleted account.!`;
			  nl.appendChild(el);
			}
			if(action.event == "New Ticket") {
			  var el = document.getElementById("notticket");
			  if {{request.user}} == action.assigned_to {
                  el.innerHTML += `New ticket <b>${action.ticket_id}</b> has created and assigned system_admin <b>${action.assigned_to}</b>!`;
                  ticket.appendChild(el);
                  }
			}
			if(action.event == "Ticket Deleted") {
			  var el = document.getElementById("review");
			  el.innerHTML += `Ticket with id <b>${action.ticket_id}</b> is deleted.!`;
			  review.appendChild(el);
			}
			if(action.event == "Ticket Done") {
			  var el = document.getElementById("review");
			  el.innerHTML += `Ticket with id <b>${action.ticket_id}</b> is moved to done state.Please review it.!`;
			  review.appendChild(el);
			}
		  })
		  document.ws = webSocketBridge; /* for debugging */
		})
    </script>
    {% block data %}
        Home
    {% endblock %}
{% endblock %}