{% extends 'login.html' %}
{% block content %}
    <div class="login-page">
        <h2><center>Ticket Management System</center></h2>
      <div class="form">
          <h3>Register Here</h3>
        <form class="login-form" method='POST' novalidate>
          {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.phone }}</td>
                </tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.designation.label }}:{{ form.designation }}</td>
                </tr>
            </table>
            <input id="submit" class="button" type="submit" value="Register" />
        </form>
          <div id="container">
            <div class="error">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>
                            {{ message }}
                        </li>
                    {% endfor %}
                {% endif %}
                </ul>
            </div>
          </div>
      </div>
    </div>
{% endblock %}