{% extends 'home.html' %}
{% load static %}
{% load has_group %}

{% block data %}
    <table border="1" class="table">
		<thead>
			<tr colspan="2" class="success">
                <th> Ticket id </th>
                <th> Assigned to </th>
                <th> start date </th>
                <th> End date </th>
                <th> Subject </th>
                <th> State </th>
                 <th> Update </th>
                {% if request.user|has_group:"super_admin" %}
                    <th> Delete </th>
                {% endif %}
			</tr>
		</thead>
		<tbody>
		{% for data in ticketlist %}
			<tr class="warning">
                <td>{{data.ticket_id }}</td>
                <form method="post"  action="{% static '../editticket/' %}" novalidate>
					 {% csrf_token %}
                    {% if request.user|has_group:"senior_system_admin"%}
                        <td><input type="text" name="assigned_to" value="{{ data.assigned_to }}"></td>
                    {% else %}
                        <td>{{ data.assigned_to }}</td>
                    {% endif %}
					<td><input type="text" name="start_date" value="{{ data.start_date }}"></td>
                    <input type="hidden" name="ticket_id" value="{{ data.ticket_id }}">
					<td><input type="text" name="end_date" value="{{ data.end_date }}"></td>
                    <td><input type="text" name="subject" value="{{data.subject }}"></td>
                    <td><input type="text" name="state" value="{{data.state }}"></td>
                    <td><input type="submit" value="Update"></td>
                </form>
                {% if request.user|has_group:"super_admin" %}
                    <form method="post"  action="{% static '../deleteticket/' %}" novalidate>
                         {% csrf_token %}
                        <input type="hidden" name="ticket_id" value="{{ data.ticket_id }}">
                        <td><input type="submit" value="Delete"></td>
                    </form>
                {% endif %}
			</tr>

		{% endfor %}
		</tbody>
	</table>
{% endblock %}