{% extends 'home.html' %}
{% load static %}
{% load has_group %}

{% block content %}
    <table border="1" class="table">
		<thead>
			<tr colspan="2" class="success">
				<th>Username </th>
				<th> Email </th>
                <th> Designation </th>
				<th>Update </th>
			</tr>
		</thead>
		<tbody>
		{% for data in userlogin %}
		<tr>
			<div class="warning">
				<form method="post"  action="{% static '../edituser/' %}" novalidate>
					 {% csrf_token %}
					<td><input type="text" name="username" value="{{ data.username }}"></td>
					<input type="hidden" name="id" value="{{ data.id }}">
					<td><input type="text" name="email" value="{{ data.email }}"></td>
				    <td><input type="text" name="designation" value="{{data.groups.all.0 }}"></td>
                    <td><input type="submit" value="Update"></td>
                </form>
			</div>
		</tr>
		{% endfor %}

		</tbody>
	</table>
{% endblock %}

